:root {
  font-family: Inter, "PingFang SC", "Microsoft YaHei", sans-serif;
  --app-bg-color: rgb(249 210 210);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--app-bg-color);
  color: #fff;
  min-height: 100vh;
}
